body{
    background-color: lightgray;
}

h1, h5 {
    text-align: center;
}

.fridge{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.food{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin: 10px;
    border: 1px solid #989898;
    border-radius: 10px;
}

.food p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.food img{
    width: 200px;
    height: 190px;
}