@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100%;
    height: 408px;
    padding: 64px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 271px;
    /*flex: 1 0 0;*/
}

.box h5 {
    color: #161543;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin: 20px 0 10px 0;
}

.box p {
    align-self: stretch;
    color: #7687A1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}