@media screen and (max-width: 420px){
    .wrapper {
        padding: 32px 16px;
        gap: 40px;
    }

    .top-section, .bottom-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    .top-item, .bottom-item {
        width: 100%;
        max-width: 343px;
        /*height: 332px;*/
    }
}